.clients {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &-list {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    align-items: center;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
}

.clients-item {
  display: flex;
  width: calc((100% - 30px) / 2);
  @media screen and (max-width: 479px) {
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: calc((100% - 60px) / 3);

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients-button {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: getColor('accent');
  }
}
.clients-icon {
  max-width: 80px;
  max-height: 52px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .clients-button:hover & {
    fill: getColor('accent');
  }
}
