.examples {
  padding-top: 94px;
  padding-bottom: 94px;
  &-list {
    display: flex;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    width: calc((100% - 60px) / 3);
  }
}

.ex-image {
  display: block;
  z-index: -1;
}
.examples .item {
  align-items: center;

  &:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
.item .thumb {
  display: flex;
  position: relative;
}

.text-container {
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  min-height: 70px;
  width: 100%;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);

  z-index: -1;

  .image-text {
    color: #fff;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
