.feat-list {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.feat-item {
  width: calc((100% - 90px) / 4);
  text-align: left;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
.features {
  padding-top: 94px;
  .feat-text {
    margin-top: 0;
    font-family: Roboto;
    color: getColor('secondary');
    font-weight: normal;
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
  }
  .feat-title {
    margin-top: 0;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .feat-icon-container {
    height: 120px;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .feat-icon {
    height: 70px;
  }
}
