.hero {
  height: 600px;
  max-width: 1600px;
  background-color: getColor('background');
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .title {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
  }

  .button {
    min-width: 136px;
    padding: 10px 32px 10px 32px;
    font-family: Roboto;
    color: white;
    background-color: getColor('accent');
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: #fff;
      color: getColor('accent');
    }
  }
}
