.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: black;
  margin-right: 92px;
  margin-top: 24px;
  margin-bottom: 25px;

  & span {
    color: #2196f3;
  }
}
