.team {
  background-color: #f5f4fa;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;

  .photo {
    margin-bottom: 30px;
    width: 100%;
  }
  .name {
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('secondary');
    margin-top: 0;
    margin-bottom: 0;
  }

  .list {
    display: flex;
  }
  .icon-list {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 32px;
  }
}
.team .title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('primary');
  margin-top: 0;
  margin-bottom: 10px;
}
.team .card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  width: calc((100% - 90px) / 4);
  text-align: center;
  padding-bottom: 30px;
  align-items: center;
  list-style: none;

  &:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}
.team-button {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border: none;
  fill: #afb1b8;
  border-radius: 50%;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('accent');
    border-radius: 50%;
  }
}

.team .icon-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.icon {
  max-width: 20px;
  max-height: 20px;
  margin: 12px;
  fill: #afb1b8;

  .team-button:hover &,
  .team-button:focus & {
    fill: #fff;
  }
}
